@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111620;
}

/* Digitar CNPJ */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header h1 {
    color: #BABABA;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-top: 100px;
}

header p {
    color: #BABABA;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

header input[type='text'] {
    color: #BABABA;
    margin: 25px;
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-radius: 100px;
    border-color: #FFFFFF;
    padding: 10px;
    width: 50vw;
    text-align: center;
}


header button {
    color: #BABABA;
    background-color: #1F1F1F;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
}

header button:hover{
    border-style: solid;
    border-color: #FFFFFF;
    cursor: pointer;
}

/* Resultado */
#result {
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 15px 50px;
    padding: 50px;
    border-radius: 20px;
}


#result p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

#result span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(100, 145, 255);
}

/* Copiar CNPJ */

#copiarCNPJ {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100px;
    background-color: rgb(100, 145, 255);
    margin-top: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

#copiarCNPJ:hover {
    background-color: rgb(47, 80, 161);
    cursor: pointer;
}

/* Copiar Nome */

#copiarNOME {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100px;
    background-color: rgb(100, 145, 255);
    margin-top: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

#copiarNOME:hover {
    background-color: rgb(47, 80, 161);
    cursor: pointer;
}

/* Relatório De Erro */

#error{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: red;
}

/* Carregamento */

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading h2{
    color: #BABABA;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-top: 20px;
}


/* Verificar CNPJ */

/*font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;

color: #BABABA;*/

